button {
    font-size: 1.2rem;
    background-color: #d9d9d9;
}

.Stockpricesize-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.Stockpricesize-name{
    font-weight: 550;
    font-size: 2.0rem;
    padding: 10px;
    border: 1px solid;
    color: white;

}

#Stockpricesize-bid{
    background-color: green;
}

#Stockpricesize-ask{
    background-color: rgb(229, 26, 26);

}



.Stockpricesize-numbers{
    font-weight: 550;
    font-size: 1.3rem;
    padding: 10px;
}

.Stockpricesize-best-ask{
    flex: 1;
    border: 1px solid;

}
.Stockpricesize-best-bid{
    flex: 1;
    border: 1px solid;

}