select  {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: normal;
    padding: 1px;
    /* display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative; */
    
  }

  label {
    font-size: 1.2rem;
    font-weight: 500;
  }